
.about{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}

.first_title {
	font-size: 3em;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}

.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.homepage_products {
	display: flex;
	flex-wrap: wrap;
}

.homeproduct {
	width: 33.3%;
	list-style: none;
	padding-right: 70px;
	padding-left: 70px;
}

.homeproduct img {
width: 100%;
}

.homeproduct h2 {
	text-align: center;
	margin: 30px;
}


#slider-container {
    width:1250px;
    height:400px;
    padding:20px;
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black; 
    margin: auto;
}

.slider {
	text-align: center;
}

@media (max-width: 600px) {
	.homepage_products {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
