
.about{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}

.first_title {
	font-size: 3em;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 10px;
}

.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.homepage_products {
	display: flex;
	flex-wrap: wrap;
}

.homeproduct {
	width: 33.3%;
	list-style: none;
}

@media (max-width: 600px) {
	.homepage_products {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
