@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	background-color: #b4b4b1;
}

#topnav {
	display: block;
	float: right;
	padding: 15px 20px;
	list-style: none;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#topnav ul,
#topnav li {
	float: left;
	list-style: none;
	margin: 0;
	
}
	
#topnav li a:link,
#topnav li a:hover {
	display: block;
	padding: 15px 20px;
	color: #999999;
	background-color: #333333;
	border-radius: 4px 4px 0 0;
	border-bottom-left-radius: 2em;
	box-shadow: 3px 3px 1px #888888;
	
}

#topnav li.last a {
	margin-right: 0;
}

#topnav li a:hover,
#topnav ul li.active a {
	color: #FFFFFF;
	background-color: #009CA6;
}

#topnav li:hover ul,
#topnav li li:hover ul {
	left: auto;
}

#topnav li.last a {
	margin-right: 0;
}
